body {
  background-image: url('/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.images {
  display: flex;
  flex-wrap: wrap;
}
.image {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}
.image__delete {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  right: 0;
}
.image:hover .image__delete {
  opacity: 1;
}
.image__holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}
.event__tags {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
}
.image:hover .event__tags {
  opacity: 1;
}
.tag {
  cursor: pointer;
}
